fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic>=2.0
qdrant-client
sentence-transformers
torch
transformers
groq
opencv-python
pytesseract
pdf2image
numpy
pillow
pandas
openpyxl
whoosh
scikit-learn
langchain
langchain-community
langchain-text-splitters
